<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <title>{{title}}</title>
    </head>
<body>

    <nav>
        <div class="nav-left">
            <a href='/'>home</a>
            <a href='/blog'>all Posts</a>
            <a href='/newpost'>new Post</a>
        </div>
        <div class="nav-right">
            <a href='/login'>log in</a>
            <a href='/logout'>logout</a>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>