{% extends "base.html" %}

{% block content %}

    <h1>Build a Blog</h1>

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

    <ul class="blog-list">
        {% for blog in blogs %}
        <li>
            <a href='/blog?id={{blog.id}}'><strong>{{blog.title}}</strong></a>
            <p>{{blog.body}}</p>
            <p class="post-author">Written by: <a href='/blog?user={{blog.owner_id}}'><strong>{{blog.owner.username}}</strong></a></p>
        </li>
        <hr />
        {% endfor %}
    </ul>

    {% endif %}

{% endblock %}