{% extends "base.html" %}

{% block content %}

<div class="add-blog-wrap">
    <h1>Add a Blog Entry</h1>

    <form method='post' action='/newpost'>
            <label>
                <p>Title for your new blog:</p>
                <input type="text" name='blog-title' value="{{ request.form['blog-title'] }}" />
            </label>
            <span class="error">{{ title_error }}</span>
            <label>
                <p>Your new blog:</p>
                    <textarea name="blog-body">{{ request.form['blog-body'] }}</textarea>
            </label>
            <span class="error">{{ body_error }}</span>
            <input class="submit" type="submit" value='Add Entry' />
    </form>
</div>

{% endblock %}