{% extends "base.html" %}

{% block content %}
<h1>Sign up for Blogz!</h1>
<form action="/signup" method="POST">
    <table>
        <tr>
            <td><label>Username</label></td>
            <td><input name="username" type="text" value="{{ request.form['username'] }}" />
            <span class="error">{{ username_error }}</span>
            </td>
        </tr>

        <tr>
                <td><label>Password</label></td>
                <td><input name="password" type="password" />
                <span class="error">{{ password_error }}</span>
                </td>
        </tr>
        
        <tr>
                <td><label>Verify Password</label></td>
                <td><input name="verify-password" type="password" />
                <span class="error">{{ verify_password_error }}</span>
                </td>
        </tr>
    </table>
    <input type="submit" value="Sign up">
</form>
{% endblock %}