{% extends "base.html" %}

{% block content %}

    <h1 class="blog-title">blog posts!</h1>

    {% if blog_list|length == 0 %}
    <p>No blog posts yet!</p>
    {% else %}
    
        {% for blog in blog_list %}
    
        <h1 class="blog-title"><a href="/blog?id={{blog.id}}">{{blog.title}}</a></h1>
        <p>{{blog.body}}</p>
        <p class="post-author">Written by:<a href='/blog?user={{blog.owner_id}}'><strong>{{blog.owner.username}}</strong></a></p>

        {% endfor %}

    {% endif %}

{% endblock %}